@import 'tailwindcss';

@plugin 'daisyui' {
  themes: forest --default;
  logs: false;
}

.markdown-content ul {
  @apply list-disc list-inside;
}

.markdown-content ol {
  @apply list-decimal list-inside;
}

.markdown-content a {
  @apply text-blue-500 hover:underline;
}

.markdown-content p {
  @apply mb-2;
}

.label.icon {
  @apply flex items-center gap-2;
}

.label.icon svg {
  @apply size-6;
}
