@import 'tailwindcss';

@plugin 'daisyui' {
  themes: forest --default;
  logs: false;
}

.markdown-content ul {
  @apply list-disc list-inside;
}

.markdown-content ol {
  @apply list-decimal list-inside;
}

.markdown-content a {
  @apply text-blue-500 hover:underline;
}

.markdown-content p {
  @apply mb-2;
}

.markdown-content blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-2;
}

.markdown-content code {
  @apply bg-gray-800 text-white rounded p-1 overflow-x-auto;
}

.markdown-content pre {
  @apply bg-gray-800 text-white rounded p-4 overflow-x-auto mb-4;
}

.label.icon {
  @apply flex items-center gap-2;
}

.label.icon svg {
  @apply size-6;
}
