.panel-tabs a {
  color: var(--bulma-panel-tab-inactive-color);
}

.panel-tabs .is-active {
  border-bottom: 5px solid;
  color: var(--bulma-success-on-scheme);
  border-bottom-color: var(--bulma-success-on-scheme) !important;
}

.panel-block.is-active {
  border-left: 5px solid;
  color: var(--bulma-success-on-scheme);
  border-left-color: var(--bulma-success-on-scheme) !important;
}

.modal-card-body {
  background-color: var(--bulma-modal-card-foot-background-color);
}

.toast {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  width: 320px;
  max-width: 100%;
}

.tasklist-item.is-active {
  border-left: 5px solid;
  color: var(--bulma-success-on-scheme);
  border-left-color: var(--bulma-success-on-scheme) !important;
}

form.pdf-export-form .field,
form.search-form .field {
/* TODO: find a better way to do this
  bulma p-2
*/
  padding: .5rem!important
}

form.search-form .field .control button {
/* TODO: find a better way to do this
  bulma m-2
*/
  margin: .5rem!important
}
